:root{
  --primary-color:#276678;
  --secondary-color:#d3e0ea;

}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  background-image: linear-gradient(var(--secondary-color), var(--primary-color));
  background-repeat: no-repeat;
  background-size: cover;
}